body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
}
a {
  text-decoration: none;
}

/*header*/
.logo {
  .logo__img {
    width: 50%;
  }
}
.location {
  align-items: baseline;
  border-top: #dadbdb 3px solid;
  background-color: #eaebeb;
  .location__i {
    margin-right: 10px;
    padding-right: 10px;
  }
}
/*order*/
.order {
  .order__p {
    font-size: large;
  }
}
.order__button {
  border-radius: 30px 30px 30px 30px;
  border: none;
  background-color: #d96cdb;
  padding: 20px 40px 20px 40px;
  cursor: pointer;
  .order__button__span {
    font-weight: 900;
  }
}
/*how to*/
.howto h2 {
  margin-left: 20px;
  margin-top: 100px;
}
.step {
  margin-left: -8%;
}
.step li p {
  background-color: #9257dc;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
.step li i:hover {
  color: #9257dc;
}
li {
  list-style-type: none;
}
/*restaurants*/

#restaurants h2 {
  margin-left: 20px;
}
.img-restaurants img {
  object-fit: cover;
  width: 110%;
  border-radius: 20px 20px 0 0;
  height: 200px;
  margin-left: -15px;
}
#restaurants i {
  margin-top: 30px;
}
#restaurants figcaption {
  justify-content: space-between;
}
.icon-hover:hover .icon-hover-far,
.icon-hover .icon-hover-fas {
  display: none;
}
.icon-hover:hover .icon-hover-fas {
  display: block;
  color: #9257dc;
}

/*footer*/
footer {
  background-color: #353434;
  bottom: 0;
  width: 100%;
  height: 300px;
}
.foot {
  margin-left: 20px;
}
.logowhite {
  font-size: x-large;
  font-family: Shrikhand;
  padding-top: 30px;
  margin-left: 20px;
}
.fa-hands-helping {
  margin: 0 10px 0 22px;
}
.fa-utensils {
  margin: 0 10px 0 22px;
}
.mentions,
.contact {
  margin-left: 20px;
  margin-top: 10px;
}
.contact {
  margin-top: 25px;
}

/*basic class*/
.text-align-center {
  text-align: center;
}
.display-flex {
  display: flex;
}
.color-black {
  color: black;
}
.color-white {
  color: white;
}
.justify-content-center {
  justify-content: center;
}
.margin-20px {
  margin: 20px;
}
.align-itemcenter {
  align-items: center;
}
.justify-content-sb {
  justify-content: space-between;
}
@import "page";
