body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
}
a {
  text-decoration: none;
}
.loadScreen {
  background: white;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeout 0.2s 3s forwards;
}
.spinnerBig {
  position: absolute;
  width: 272px;
  height: 272px;
  border-radius: 50%;
  border: 48px solid rgba(161, 160, 160, 0);
  border-top: 48px solid #9356dc;
  border-left: 48px solid #9356dc;
  border-bottom: 48px solid #9356dc;
  animation: spinneroff 0.8s 0.2s 2;
}
.spinner {
  border: 32px solid rgba(161, 160, 160, 0);
  border-top: 32px solid #ff79da;
  border-right: 32px solid #ff79da;
  border-bottom: 32px solid #ff79da;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  opacity: 1;
  animation: spinner 0.8s 0.2s 2;
  position: absolute;
}
.spinnerSmall {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 24px solid rgba(161, 160, 160, 0);
  border-top: 24px solid #99e2d0;
  border-left: 24px solid #99e2d0;
  border-bottom: 24px solid #99e2d0;
  animation: spinneroff 0.8s 0.2s 2;
}
@keyframes spinneroff {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes fadeout {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*header*/
.logo {
  .logo__img {
    width: 50%;
  }
}
.location {
  align-items: baseline;
  border-top: #dadbdb 3px solid;
  background-color: #eaebeb;
  .location__i {
    margin-right: 10px;
    padding-right: 10px;
  }
}
/*order*/
.order {
  .order__p {
    font-size: large;
  }
}
.explore {
  margin-top: 50px;
  padding-bottom: 50px;
  .button {
    border-radius: 30px 30px 30px 30px;
    border: none;
    background: linear-gradient(175deg, #ff79da 10%, #9356dc 95%);
    padding: 20px 40px 20px 40px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    &:hover {
      filter: brightness(1.1);
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    }
    .order__button__span {
      font-weight: 900;
    }
  }
}

/*how to*/
.howto {
  .howto__h2 {
    margin-left: 20px;
    margin-top: 100px;
  }
  .howto__step {
    margin-left: -4%;
    .howto__step__li {
      list-style-type: none;
      .howto__step__li__p {
        background-color: #9257dc;
        height: 25px;
        width: 30px;
        border-radius: 50%;
        padding-top: 5px;
        position: absolute;
      }
      .howto-background {
        font-weight: 500;
        width: 80%;
        border-radius: 20px;
        background: #f6f6f6;
        box-shadow: 0 5px 10px 0 rgb(0 0 0 / 15%);
        margin-left: 30px;
        &:hover {
          background-color: #f5eefe;
        }
        .howto__step__li__span {
          font-weight: 600;
        }
        .howto__step__li__i {
          padding-left: 20px;
          &:hover {
            color: #9257dc;
          }
        }
      }
    }
  }
}
/*restaurants*/
.titlerestaurants {
  .titlerestaurants__h2 {
    margin-left: 20px;
  }
}
.new {
  font-weight: 500;
  position: absolute;
  color: #278870;
  background-color: #99e2d0;
  right: 50px;
  width: 20%;
  height: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.restaurants__img {
  object-fit: cover;
  width: 110%;
  border-radius: 20px 20px 0 0;
  height: 200px;
  margin-left: -15px;
}

#restaurants figcaption {
  justify-content: space-between;
}
.icon-stay {
  position: absolute;
  cursor: pointer;
  opacity: 1;
  font-size: 24px;
  right: 24px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.3s ease;
}
.icon-stay:hover {
  opacity: 0;
}
.icon-hover {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  font-size: 25px;
  right: 24px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 1.2s ease;
}
.icon-hover:hover {
  opacity: 1;
}
.fa-gradient {
  background: linear-gradient(180deg, #9356dc, #ff79da);
  -webkit-background-clip: text; 
  color: transparent;
}
.fa,
.fas {
  font-weight: 900;
}
.fa,
.far,
.fas {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
}

/*footer*/
footer {
  background-color: #353434;
  bottom: 0;
  width: 100%;
  height: 300px;
  .foot {
    margin-left: 20px;
  }
  .logowhite {
    font-size: x-large;
    font-family: Shrikhand;
    padding-top: 30px;
    margin-left: 20px;
  }
  .fa-hands-helping {
    margin: 0 10px 0 22px;
  }
  .fa-utensils {
    margin: 0 10px 0 22px;
  }
  .mentions,
  .contact {
    margin-left: 20px;
    margin-top: 10px;
  }
  .contact {
    margin-top: 25px;
  }
}
/*basic class*/
.text-align-center {
  text-align: center;
}
.display-flex {
  display: flex;
}
.color-black {
  color: black;
}
.color-white {
  color: white;
}
.justify-content-center {
  justify-content: center;
}
.margin-20px {
  margin: 20px;
}
.align-itemcenter {
  align-items: center;
}
.justify-content-sb {
  justify-content: space-between;
}
/* responsive desktop */

@media screen and (min-width: 1920px) {
  .location {
    width: 100%;
  }
  .logo {
    .logo__img {
      width: 20%;
    }
  }
  .howto .howto__step {
    padding-left: 50px;
    margin-left: 10%;
  }
  .howto .howto__h2 {
    margin-left: 150px;
  }
  .titlerestaurants {
    margin-left: 130px;
  }
  .responsive4k {
    display: flex;
    justify-content: center;
    margin-left: -8%;
  }
  .img-restaurants img {
    width: 800px;
  }
  .new {
    right: auto;
  }
  .new1 {
    width: 10%;
  }
  .new2 {
    width: 10%;
  }
  .icon-stay-responsive1,
  .icon-hover-responsive1 {
    right: 53%;
  }
  .icon-stay-responsive2,
  .icon-hover-responsive2 {
    right: 19%;
  }
}
/* responsive tablette */
@media screen and (min-width: 768px) and (max-width: 768px) {
  .responsive4k {
    display: block;
  }
  .img-restaurants img {
    width: 720px;
  }
  .howto .howto__h2 {
    display: flex;
    text-align: center;
  }
}

@import "page";
